.composition {
    position: relative;
    
    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: $default-border-radius;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 1rem;

        &:hover {
            outline: 1.2rem solid $color-primary;
            transform: scale(1.06) translateY(-2px);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 20;
        }

        &--p1 {
            left: 0;
            top: -2rem;
        }
        &--p2 {
            right: 0rem;
            top: 2rem;
        }
        &--p3 {
            left: 20%;
            top: 10rem;
        }
    }    

    &:hover &__photo:not(:hover) {
        transform: scale(0.94);
    }
}