.feature-box {
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: $default-border-radius;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: transform .3s;

    &__icon {
        font-size: 6rem;
        @include text_gradient (to right, $color-primary-light, $color-primary-dark);
    }

    &:hover {
        transform: translateY(-1.5px) scale(1.05);
    }
}