.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
    background-color: rgba($color-white, .6);
    border-radius: $default-border-radius;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);

    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        shape-outside: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);
        position: relative;
        clip-path: circle(50% at 50% 50%);
    }

    &__image {
        height: 100%;
        transform: translateX(-4rem) scale(1.3);
        transition: all .5s ease-out;        
        backface-visibility: hidden;
    }

    &__text {
        transform: skewX(12deg)
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , 20%);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        font-weight: 400;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50% , -50%);
    }
    
    &:hover &__image {
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(75%);  
    }
}