@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin text_gradient ($direction, $first_color, $second_color) {
    display: inline-block;
    background-image: linear-gradient($direction, $first_color,$second_color);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}